<div class="col-sm-6 col-md-4 info-card" ng-repeat="data in vm.accounts | filter:searchTerm">
  <div class="panel panel-default">
    <div class="panel-body ">
      <span class="fa-stack fa-lg text-primary">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-id-badge fa-stack-1x"></i>
              </span> Account: {{data.web.account}}<br>
      <span class="fa-stack fa-lg text-primary">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-user-circle-o fa-stack-1x"></i>
              </span> username: {{data.web.username}}<br>
      <span class="fa-stack fa-lg text-primary">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-key fa-stack-1x"></i>
              </span> password: {{data.web.password}}<br>
      <hr>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-envelope-o text-primary"></i> Email: {{data.web.email}}</li>
        <li><i class="fa-li fa fa-sitemap text-primary"></i> Category: {{data.category}}</li>
        <li><i class="fa-li fa fa-user text-primary"></i> Owner: {{data.author.username}}</li>
      </ul>
    </div>
    <div class="panel-footer text-center">
        <ul class="list-inline">
            <li class="item-icon" ui-sref="accounts.view({accountId : data._id})"><i class="fa fa-address-card-o fa-2x" aria-hidden="true"></i> Details</li>
            <li class="item-icon" ui-sref="accounts.edit({accountId : data._id})"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i> Edit</li>
            <li class="item-icon" ng-click="vm.deleteAccount(data._id)"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i> Delete</li>
        </ul>
    </div>
  </div>
</div>