<fieldset>
  <legend><i class="fa fa-globe fa-2x" aria-hidden="true"></i> Web info:</legend>
  <div class="form-group" ng-if="vm.category != 'Bank'">
    <label for="accountName" class="col-sm-2 control-label">Account Title*</label>
    <div class="col-sm-10">
      <input required ng-readonly="vm.isViewMode" type="text" name="accountName" class="form-control" id="accountName" placeholder="Account Name  or Title"
        ng-model="vm.title">
      <span ng-show="vm.form.accountForm.accountName.$invalid && vm.form.accountForm.accountName.$touched" class="label label-danger">Required</span>
    </div>
  </div>
  <div class="form-group" ng-if="!vm.isViewMode || vm.account.web.username.length > 0">
    <label for="username" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-10">

      <div class="input-group" ng-if="vm.isViewMode">
        <input ng-readonly="vm.isViewMode" type="text" class="form-control" id="username" placeholder="Username" ng-model="vm.account.web.username" >
        <span class="input-group-btn">
          <button clipboard text="vm.account.web.username" on-copied="vm.copySuccess()" on-error="vm.copyFail(err)" class="btn btn-default" type="button" title="Copy"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button>
        </span>
      </div>
      <input ng-if="!vm.isViewMode" ng-readonly="vm.isViewMode" type="text" class="form-control" id="username" placeholder="Username" ng-model="vm.account.web.username">

    </div>
  </div>
  <div class="form-group" ng-if="!vm.isViewMode || vm.account.web.password.length > 0">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <div class="input-group" ng-if="vm.isViewMode">
        <input ng-readonly="vm.isViewMode" type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="vm.account.web.password">
        <span class="input-group-btn">
          <button ng-click= "vm.toggleShowPassword()" class="btn btn-default" type="button" title="show"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
          <button clipboard text="vm.account.web.password" on-copied="vm.copySuccess()" on-error="vm.copyFail(err)" class="btn btn-default" type="button" title="Copy"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button>
        </span>
      </div>

      <input ng-if="!vm.isViewMode" ng-readonly="vm.isViewMode" type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="vm.account.web.password">
      <span class="label label-info" ng-if="!vm.isViewMode || !vm.isShowPassword">{{vm.account.web.password}}</span>
    </div>
  </div>
  <div class="form-group" ng-if="!vm.isViewMode || vm.account.web.email.length > 0">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">

      <div class="input-group" ng-if="vm.isViewMode">
      <input ng-readonly="vm.isViewMode" type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="vm.account.web.email">
        <span class="input-group-btn">
          <button clipboard text="vm.account.web.email" on-copied="vm.copySuccess()" on-error="vm.copyFail(err)" class="btn btn-default" type="button" title="Copy"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button>
        </span>
      </div>

      <input ng-if="!vm.isViewMode" ng-readonly="vm.isViewMode" type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="vm.account.web.email">
    </div>
  </div>
  <div class="form-group" ng-if="!vm.isViewMode || vm.account.web.url.length > 0">
    <label for="url" class="col-sm-2 control-label">Add URL</label>
    <div class="col-sm-10">

      <div class="input-group" ng-if="vm.isViewMode">
      <input ng-readonly="vm.isViewMode" type="text" class="form-control" id="url" placeholder="Add multiple URL Links separated by comma" ng-model="vm.account.web.url">
        <span class="input-group-btn">
          <a class="btn btn-default" title="Visit" ng-href="http://{{vm.account.web.url}}" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
        </span>
      </div>
      <input ng-if="!vm.isViewMode" ng-readonly="vm.isViewMode" type="text" class="form-control" id="url" placeholder="Add multiple URL Links separated by comma" ng-model="vm.account.web.url">
        
    </div>
  </div>
  <div class="form-group" ng-if="vm.account.web.description.length>0">
    <label for="description" class="col-sm-2 control-label">Old Description</label>
    <div class="col-sm-10">
      <p>{{vm.account.web.description}}</p>
    </div>
  </div>
</fieldset>