<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Important : {{appName}}</title>
</head>

<body>
  <p>Dear {{name}},</p>
  <p>
    You have just saved an account using an userkey. Since we don't save your userkey, we emailed this userkey decrypter link for your own record. If you forget your userkey which is required to unlock this saved account data, you can use following link to decrypt.
  </p>
  <p>Please visit this url to decrypt your userkey: <a href="{{url}}">Decrypt My User Key</a></p>
  <hr>
  <strong>If you didn't make this request, you can ignore this email.</strong>
  <br />
  <br />
  <p>The {{appName}} Support Team</p>
</body>

</html>
