<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Important : {{appName}}</title>
</head>

<body>
  <p>Dear {{name}},</p>
  <p>Congratulations! You have just saved an account "{{accountTitle}}" using a userkey.</p>
  <p>Since we do not save your user key, we emailed the following link for your own record. You will require the user key each time to unlock your newly saved account data.</p>
  <p>If you forget your user key, you can visit the following link to decrypt your user key: <a href="{{url}}">Decrypt My User Key</a></p>
  <p>Thank you for using {{appName}}.</p>
  <br/>
  <p>Regards,</p>
  <p>The {{appName}} Support Team</p>
  <br/>
  <hr>
  <strong>If you didn't make this request, you can ignore this email.</strong>
</body>

</html>