<section class="container">
  <div class="page-header">
    <h1><i class="fa fa-cog fa-spin" aria-hidden="true"></i> Page Not Found</h1>
  </div>
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span ng-if="vm.errorMessage" ng-bind="vm.errorMessage"></span>
    <span ng-if="!vm.errorMessage">Requested Page/Information Not Found</span>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-4">
      <button type="button" class="btn btn-info" ui-sref="home">Go Home!</button>
    </div>
  </div>
</section>