<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4  col-md-4 col-sm-4">
        <div class="footer_dv">
          <h4>Explore</h4>
          <ul>
            <li><a href="/accounts"><i class="fa fa-user fa-2x" aria-hidden="true"></i> My Accounts</a></li>
            <li><a href="#"><i class="fa fa-rss fa-2x" aria-hidden="true"></i> Community Blogs</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4">
        <div class="footer_dv">
          <h4>Contribute By</h4>
          <ul>
            <li><a href="#"><i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i> Like / Share</a></li>
            <li><a href="#"><i class="fa fa-lightbulb-o fa-2x" aria-hidden="true"></i> Posting Ideas / Issues</a></li>
            <li><a href="#"><i class="fa fa-github fa-2x" aria-hidden="true"></i> Developing in Github</a></li>
            <li><a href="#"><i class="fa fa-credit-card fa-2x" aria-hidden="true"></i> Donations with smile</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4">
        <div class="footer_dv">
          <h4>User Guides</h4>
          <ul>
            <li><a href="#"><i class="fa fa-magic fa-2x" aria-hidden="true"></i> Take a Tour</a></li>
            <li><a href="#"><i class="fa fa-question-circle fa-2x" aria-hidden="true"></i> Quick User Guide</a></li>
            <li><a href="#"><i class="fa fa-book fa-2x" aria-hidden="true"></i> Developers Guide</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="footer under-construction-message">
  <div class="container text-center">
    <h1><i class="fa fa-exclamation-triangle fa-bounce" aria-hidden="true"></i> Alpha Version <i class="fa fa-cogs" aria-hidden="true"></i></h1>
    <p>Under Rapid Development. Release Coming Soon. <a href="/authentication/signup">Sign up</a> to be Notified.</p>
  </div>
</section>
<section class="footer policy">
  <div class="container">
    <div class="row">
      <div class="col-lg-12  col-md-12 col-sm-12">
        <div class="text-center">
          <p>LockEssential © 2017 | <a href="https://github.com/hvpulok">Admin: Md Kamrul Hasan Pulok</a>  | License & Policy.</p>
        </div>
      </div>
    </div>
  </div>
</section>