<header ng-include="'/modules/core/client/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>

<section ng-controller="HomeController">
  <div class="container">
    <div class="jumbotron text-center jum1">
      <div class="row">
        <h1><i class="fa fa-address-book-o fa-3x" aria-hidden="true"></i></h1>
        <h1 class="header-text"><strong>Lock Essential</strong></h1>
      </div>
      <br>
      <div class="row">
        <p class="lead">
          A Secured & Encrypted Personal Information Manager. <br>It's Free and Open Source!
        </p>
      </div>
      <div class="container">
        <div class="row">
          <p>
            <div class="row" ng-if="!vm.isLoggedIn()">
              <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-2">
                <a class="btn btn-info btn-block" href="/authentication/signin"><strong>Sign in</strong></a>
              </div>
              <div class="col-xs-6 col-xs-offset-3 col-md-offset-0 col-md-4">
                <a class="btn btn-success btn-block" href="/authentication/signup"><strong>Sign Up</strong></a>
              </div>
            </div>
            <div class="row" ng-if="vm.isLoggedIn()">
              <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
                <a class="btn btn-info btn-block" href="/accounts"><strong>Show My Accounts</strong></a>
              </div>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron text-center jum2">
    <div class="container-fluid">
      <h1><strong>Quick Video Tour</strong></h1>
      <h1 style="color: rgba(0,0,0,0.4)">
        <span class="fa-stack fa-lg show-hand" ng-click="vm.open('lg', '.home-modal' ,'video')">
          <i class="fa fa-cog fa-spin fa-stack-2x"></i>
          <i class="fa fa-play-circle fa-stack-1x fa-inverse"></i>
        </span>
      </h1>
    </div>
  </div>

  <div class="jumbotron text-center">
    <div class="container">
      <h1><strong>Easy Password Management</strong></h1>
      <br>
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail">
            <img width="128px" height="128px" src="/modules/core/client/img/brand/logo.png" alt="...">
            <div class="caption">
              <h3><strong>Use Complex Password</strong></h3>
              <hr>
              <h4 class="text-capitalize">Start Using Complex Long Passwords and Let Lock Essential Manage Those</h4>
              <hr>
              <h4 class="text-capitalize">No More Using Same Password Everywhere</h4>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail">
            <img width="128px" height="128px" src="/modules/core/client/img/brand/mobile-2-icon.png" alt="...">
            <div class="caption">
              <h3><strong>Access From Any Device</strong></h3>
              <hr>
              <h4 class="text-capitalize">Access your data from any device <br>(desktop, laptop, tablet, mobile)</h4>
              <hr>
              <h4 class="text-capitalize">Simple To Use Application</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <h2><strong>Not Just Passwords - Start Managing...</strong></h2>
      <div class="row">
        <div class="col-sm-4">
          <h1>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-university fa-stack-1x fa-inverse"></i>
            </span>
          </h1>
          <h3><strong>Bank Account</strong></h3>
          <h4>Store your Bank account number, routing number, PIN codes, addresses and key information securely</h4>
        </div>
        <div class="col-sm-4">
          <h1>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-credit-card-alt fa-stack-1x fa-inverse"></i>
            </span>
          </h1>
          <h3><strong>Credit Card</strong></h3>
          <h4>Store your credit card numbers and other related key information securely</h4>
        </div>
        <div class="col-sm-4">
          <h1>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-address-card fa-stack-1x fa-inverse"></i>
            </span>
          </h1>
          <h3><strong>Secured Info</strong></h3>
          <h4> Store about any information you want, It's your private information manager.
            <h4>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron text-center jum4">
    <div class="container-fluid">
      <h1><strong>Data is encrypted using 'AES' technology</strong></h1>
    </div>
  </div>
  <div class="jumbotron text-center">
    <div class="container-fluid">
      <h2><strong>Secures Your Data In 3 Layers</strong></h2>
      <div class="row">
        <div class="col-sm-4">
          <h1>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-ticket fa-stack-1x fa-inverse"></i>
            </span>
          </h1>
          <h3><strong>User Password Layer</strong></h3>
          <h4>Your data is protected by your account password using industry standard technology (PassportJs Local Strategy,
            Google/Facebook Login Strategy) </h4>
        </div>
        <div class="col-sm-4">
          <h1>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-user fa-stack-1x fa-inverse"></i>
            </span>
          </h1>
          <h3><strong>User Key Layer</strong></h3>
          <h4>This is your master key. Data is encrypted by this key using 'AES' technology. Since we do not store this key,
            your data is technically protected from everybody. If you forget this key, no worries. Check your email!</h4>
        </div>
        <div class="col-sm-4">
          <h1>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-server fa-stack-1x fa-inverse"></i>
            </span>
          </h1>
          <h3><strong>Server Key Layer</strong></h3>
          <h4>This is another server side protection using custom server key using 'AES' encryption technology. So in case your
            user key is compromised, this will give you extra protection. You do not have to memorize this key. It is an
            automated protection.</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron text-center jum3">
    <div class="container-fluid">
      <h1><strong>Let's Build This Lock Essential Together</strong></h1>
      <p>Open Source Software! You can contribute by sharing ideas, experiences & suggestions.</p>
      <a href="https://github.com/hvpulok/lockessential" target="_blank" class="btn btn-success btn-lg">Let's do it in Github</a>
    </div>
  </div>
</section>
<footer class="site-footer" ng-include="'/modules/core/client/views/footer.client.view.html'"></footer>