<section ng-controller="HomeController">
  <div class="container">
    <div class="jumbotron text-center jum1">
      <div class="row">
        <h1><i class="fa fa-address-book-o fa-3x" aria-hidden="true"></i></h1>
        <h1 class="header-text">ManagerSaab</h1>
      </div>
      <br>
      <div class="row">
        <p class="lead">
          A Secured Encrypted Personal Information Manager.
        </p>
      </div>
      <div class="container">
        <div class="row">
          <p>
            <div class="row" ng-if="!vm.isLoggedIn()">
              <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-2">
                <a class="btn btn-info btn-block" href="/authentication/signin">Login </a>
              </div>
              <div class="col-xs-6 col-xs-offset-3 col-md-offset-0 col-md-4">
                <a class="btn btn-success btn-block" href="/authentication/signup">Signup</a>
              </div>
            </div>
            <div class="row" ng-if="vm.isLoggedIn()">
              <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
                <a class="btn btn-info btn-block" href="/accounts">Show My Accounts </a>
              </div>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron text-center jum2">
    <div class="container-fluid">
      <h1>Do I Need It?</h1>
      <div class="row">
        <div class="col-md-2">
          <h1><i class="fa fa-users " aria-hidden="true"></i></h1>
        </div>
        <div class="col-md-8 text-left">
          <ul class="list-unstyled ">
            <li>
              <p>- Do You Write Down Secrets/Password in Notebook/Excel/Word/Paper?</p>
            </li>
            <li>
              <p>- Do You Use Same Password Everywhere?</p>
            </li>
            <li>
              <p>- Do You Always Forget Password?</p>
            </li>
            <li>
              <p>- Do You Need A Simple and Easy Information Manager</p>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <h1><i class="fa fa-play-circle" aria-hidden="true"></i></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron text-center jum3">
    <div class="container-fluid">
      <h1>How It Will Help Me?</h1>
      <div class="row">
        <div class="col-md-2">
          <h1><i class="fa fa-ambulance " aria-hidden="true"></i></h1>
        </div>
        <div class="col-md-8 text-left">
          <ul class="list-unstyled ">
            <li>
              <p>- Simple Sophisticated Encrypted Information Manager</p>
            </li>
            <li>
              <p>- It Can Manage Your Password, Bank, Secret Information With High Security</p>
            </li>
            <li>
              <p>- You Can Use In Any Device: Desktop, Laptop, Tablet, Mobile Friendly App</p>
            </li>
            <li>
              <p>- Do You Need A Simple and Easy Information Manager</p>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <h1><i class="fa fa-play-circle" aria-hidden="true"></i></h1>
        </div>
      </div>
      <!--<div class="col-md-4 col-md-offset-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KDcJFKQpQy8" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>-->
    </div>
  </div>

  <div class="jumbotron text-center jum4">
    <div class="container-fluid">
      <h1>How it Secures Data?</h1>
      <div class="row">
        <div class="col-md-2">
          <h1><i class="fa fa-ambulance " aria-hidden="true"></i></h1>
        </div>
        <div class="col-md-8 text-left">
          <ul class="list-unstyled ">
            <li>
              <p>- Simple Sophisticated Encrypted Information Manager</p>
            </li>
            <li>
              <p>- It Can Manage Your Password, Bank, Secret Information With High Security</p>
            </li>
            <li>
              <p>- You Can Use In Any Device: Desktop, Laptop, Tablet, Mobile Friendly App</p>
            </li>
            <li>
              <p>- Do You Need A Simple and Easy Information Manager</p>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <h1><i class="fa fa-play-circle" aria-hidden="true"></i></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron text-center jum5">
    <div class="container-fluid">
      <h1>Should I Trust It?</h1>
      <div class="row">
        <div class="col-md-2">
          <h1><i class="fa fa-ambulance " aria-hidden="true"></i></h1>
        </div>
        <div class="col-md-8 text-left">
          <ul class="list-unstyled ">
            <li>
              <p>- Simple Sophisticated Encrypted Information Manager</p>
            </li>
            <li>
              <p>- It Can Manage Your Password, Bank, Secret Information With High Security</p>
            </li>
            <li>
              <p>- You Can Use In Any Device: Desktop, Laptop, Tablet, Mobile Friendly App</p>
            </li>
            <li>
              <p>- Do You Need A Simple and Easy Information Manager</p>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <h1><i class="fa fa-play-circle" aria-hidden="true"></i></h1>
        </div>
      </div>
    </div>
  </div>

</section>