<section ng-controller="HomeController">
  <div class="container">
    <div class="jumbotron text-center jum1">
      <div class="row">
        <h1><i class="fa fa-address-book-o fa-3x" aria-hidden="true"></i></h1>
        <h1 class="header-text">LockEssential</h1>
      </div>
      <br>
      <div class="row">
        <p class="lead">
          A Secured Encrypted Personal Information Manager. Its Free and Open Source!
        </p>
      </div>
      <div class="container">
        <div class="row">
          <p>
            <div class="row" ng-if="!vm.isLoggedIn()">
              <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-2">
                <a class="btn btn-info btn-block" href="/authentication/signin">Login </a>
              </div>
              <div class="col-xs-6 col-xs-offset-3 col-md-offset-0 col-md-4">
                <a class="btn btn-success btn-block" href="/authentication/signup">Sign Up</a>
              </div>
            </div>
            <div class="row" ng-if="vm.isLoggedIn()">
              <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
                <a class="btn btn-info btn-block" href="/accounts">Show My Accounts </a>
              </div>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron text-center jum2">
    <div class="container-fluid">
      <h1>Quick Video Tour</h1>
      <h1><i class="fa fa-play-circle" aria-hidden="true"></i></h1>
    </div>
  </div>


  <div class="jumbotron text-center jum3">
    <div class="container-fluid">
      <h1>Easy Password Management</h1>
      <div class="row">
        <div class="col-md-4">
          <h1>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-o fa-stack-2x"></i>
              <i class="fa fa-key fa-stack-1x fa-inverse"></i>
            </span>
          </h1>
        </div>
        <div class="col-md-8 text-left">
          <ul class="list-unstyled">
            <li>
              <p>Start Using Complex Long Password And Let LockEssential Manage That</p>
            </li>
            <li>
              <p>No More Using Same Password Every Where</p>
            </li>
            <li>
              <p>Access Your Passwords From Any Device</p>
            </li>
            <li>
              <p>Very Simple To Use App</p>
            </li>
          </ul>
        </div>
      </div>
      
      <!--<div class="col-md-4 col-md-offset-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KDcJFKQpQy8" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>-->
    </div>
  </div>

  <div class="jumbotron text-center">
    <div class="container-fluid">
      <h2>Not Just Password - Start Managing</h2>
      <div class="row">
        <div class="col-xs-4">
          <h1>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-university fa-stack-1x fa-inverse"></i>
            </span>
          </h1>
          <p>Bank Account</p>
          <div>Store Your Bank Account, Routing Number, PIN, Card Number, Address, Key Information Securely</div>
        </div>
        <div class="col-xs-4">
          <h1>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-credit-card-alt fa-stack-1x fa-inverse"></i>
            </span>
          </h1>
          <p>Credit Card</p>
          <div>Store Your Credit Cards Number and Other Related Key Information Securely</div>
        </div>
        <div class="col-xs-4">
          <h1>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-address-card fa-stack-1x fa-inverse"></i>
            </span>
          </h1>
          <p>Secured Info</p>
          <div>Got Secret Ideas to Store? Or Personal Information, ID etc. Store Anything you want, Its your Private Information Manager And Saver.</div>
        </div>
      </div>
    </div>
  </div>


  <div class="jumbotron text-center jum5">
    <div class="container-fluid">
      <h2>Secures Your Data In 3 Layers</h2>
      <div class="row">
        <div class="col-xs-4">
          <h1>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-university fa-stack-1x fa-inverse"></i>
            </span>
          </h1>
          <p>User Password Layer</p>
          <div>Automaically Your Data is Protected By Your Account Password Using Industry Standard PassportJs Local Strategy, OAuth Google/Facebook Login Strategy </div>
        </div>
        <div class="col-xs-4">
          <h1>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-user fa-stack-1x fa-inverse"></i>
            </span>
          </h1>
          <p>User Key Layer</p>
          <div>This is your controller. We do not store your User Key. This Key is the protection from DB managers. If you forget this key, no worries. Check your email!</div>
        </div>
        <div class="col-xs-4">
          <h1>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-server fa-stack-1x fa-inverse"></i>
            </span>
          </h1>
          <p>Server Key Layer</p>
          <div>This is extra mile server side protection using custom server key. You do not have to memorize this.</div>
        </div>
      </div>
    </div>
  </div>


</section>