<section>
  <div class="jumbotron text-center jum1">
    <div class="container">
      <div class="thumbnail">
        <div class="caption">
          <h4><img width="32px" src="/modules/core/client/img/brand/logo.png" alt="lock-icon"> <strong>Password \ Code Generator</strong></h4>
          <div class="well well-sm" ng-show="isShowOptions">
            <form name="optionsForm" class="form-horizontal">
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="form-group">
                    <label for="length" class="col-xs-6">Password Length</label>
                    <div class="col-xs-6">
                      <input type="number" min="4" max="50" step="1" class="form-control" id="length" ng-model="options.length">
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="row">
                    <div class="col-sm-6 col-md-4">
                      <div class="checkbox">
                        <label>
                        <input ng-click="removeNumberOnly()" type="checkbox" ng-model="options.isUseNumbers"> Use Numbers
                      </label>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="checkbox">
                        <label>
                        <input ng-click="removeNumberOnly()" type="checkbox" ng-model="options.isUseSpecialChars"> Use Special Characters
                      </label>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="checkbox">
                        <label>
                        <input ng-click="checkUserNumberOnly()" type="checkbox" ng-model="options.isUseNumbersOnly"> Use Numbers Only
                      </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="well well-sm">
            <div ng-repeat="password in passwords track by $index">
              <div class="input-group">
                <input readonly class="form-control" type="text" value="{{password}}">
                <span class="input-group-btn">
                <button clipboard text="password" on-copied="copySuccess(password)" on-error="copyFail(err)" class="btn btn-info" type="button" title="Copy"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span>                Copy</button>
                </span>
              </div>
            </div>
            <div>
              <span ng-show="copiedPassword.length > 0" class="label label-success">Successfully copied : {{copiedPassword}}</span>
            </div>
          </div>

          <div>
            <button ng-disabled="!optionsForm.$valid" class="btn btn-success" ng-click="genPassword()">Generate Again</button>
            <button type="button" class="btn btn-primary" ng-click="showOptions()" ng-class="{active: isShowOptions}">Options</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>