<section>
  <div class="jumbotron text-center jum1">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="thumbnail">
            <div class="caption">
              <h3><img width="64px" src="/modules/core/client/img/brand/logo.png" alt="lock-icon"> <strong>Choose Your Password</strong></h3>
              <div class="row">
                <div class="col-sm-12">
                  <hr>
                  <form name="optionsForm" class="form-inline">
                    <div class="form-group">
                      <label for="length">Password Length</label>
                      <input ng-model="length" type="number" min="4" max="50" step="1" class="form-control" id="length">
                    </div>
                    <div class="checkbox">
                      <label>
                        <input ng-click="removeNumberOnly()" type="checkbox" ng-model="useNumbers"> Use Numbers
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input ng-click="removeNumberOnly()" type="checkbox" ng-model="useSpecialChars"> Use Special Characters
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input ng-click="checkUserNumberOnly()" type="checkbox" ng-model="useNumbersOnly"> Use Numbers Only
                      </label>
                    </div>
                  </form>
                </div>
                <div class="col-sm-12" ng-repeat="password in passwords track by $index">
                  <hr>
                  <div class="row">
                    <div class="col-sm-1">
                      <h4>{{$index+1}}:</h4>
                    </div>
                    <div class="col-sm-11">
                      <h4>{{password}}</h4>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <button ng-disabled="!optionsForm.$valid" type="submit" class="btn btn-info" ng-click="genPassword()">Generate Again</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>