<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Information Manager</strong></h3>
        </div>
        <div class="panel-body">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addInfoModal">Add New</button>
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="searchTerm" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Search</button>
                            </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Category</th>
                    <th>Details</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in infoData | filter:searchTerm">
                        <td>{{data.name}}</td>
                        <td>{{data.email}}</td>
                        <td><i class="fa fa-university fa-2x" aria-hidden="true"></i> </td>
                        <td><a ng-click="getDetails(data.id)" data-toggle="modal" data-target="#myModal"><i class="fa fa-address-card-o fa-2x" aria-hidden="true"></i></a></td>
                        <td><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></td>
                        <td><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

<!-- add new information Modal -->
<div class="modal fade " id="addInfoModal" tabindex="-1" role="dialog" aria-labelledby="addInfoModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addInfoModalLabel">Add New Information</h4>
            </div>
            <div class="modal-body">
                <add-information new-data="newData"></add-information>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Details Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Account Name : {{details.name}}</h4>
                            <h4>Category :</h4>
                        </div>
                        <div class="col-md-6">
                            <h4>Username :</h4>
                            <h4>Password :</h4>
                        </div>

                    </div>
                    <h4>Email : {{details.email}}</h4>
                    <h4>URL :</h4>
                </div>
                <strong>Comments / Description</strong>
                <div class="list-group">
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut facilis in, officiis sed sunt ullam veritatis? Asperiores consequatur dicta dignissimos dolorem laudantium libero quos rerum sapiente sed voluptate. Porro?</p>
                        <p>
                            <a href="" class="btn btn-success btn-xs">Edit</a>
                            <a href="" class="btn btn-danger btn-xs">Delete</a>
                        </p>
                    </div>
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut facilis in, officiis sed sunt ullam veritatis? Asperiores consequatur dicta dignissimos dolorem laudantium libero quos rerum sapiente sed voluptate. Porro?</p>
                        <p>
                            <a href="" class="btn btn-success btn-xs">Edit</a>
                            <a href="" class="btn btn-danger btn-xs">Delete</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Edit Info</button>
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-primary" >Add Comment</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>