.info-card{
  min-height: 290px;
  padding: 0 4px;
  color: #333;
}

.panel{
  margin-bottom: 0;
}

.item-icon :hover{
  cursor: pointer;
  color: dodgerblue;
}

.list-media-button{
  text-shadow: 2px 2px 5px rgba(3,3,3, 0.15);
}