<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="navbar-header ">
      <button class="navbar-toggle" type="button" ng-click="vm.isCollapsed = !vm.isCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <a href="#" class="navbar-brand"><i class="fa fa-cog fa-spin" aria-hidden="true"></i> Options</a>
    </div>
    <nav class="navbar-collapse" uib-collapse="!vm.isCollapsed" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a role="button" ui-sref="accounts.list"><i class="fa fa-home" aria-hidden="true"></i> <strong>My Accounts</strong></a>
        </li>
        <li class="dropdown" ng-if="vm.isViewMode">
          <a ui-sref="accounts.edit({accountId : vm.accountResource._id})" role="button" ><i class="fa fa-pencil-square-o fa-1x" aria-hidden="true"></i> <strong>Edit</strong></a>
        </li>
        <li class="dropdown" ng-if="vm.isViewMode">
          <a ng-click="vm.deleteAccount(vm.accountResource._id)" role="button"><i class="fa fa-trash-o fa-1x" aria-hidden="true"></i> <strong>Delete</strong></a>
        </li>

        <!--following options related to bank and card-->
        <li class="dropdown" ng-if="!vm.isViewMode && (vm.category == 'Bank' || vm.category == 'Card')">
          <a  role="button" title="Add a credit/debit card" ng-click="vm.addCard()"><i class="fa fa-pencil-square-o fa-1x" aria-hidden="true"></i> <strong>Add Credit/Debit Card</strong></a>
        </li>
        <li class="dropdown" ng-if="!vm.isViewMode && (vm.category == 'Bank' || vm.category =='Card')" ng-show="vm.account.card.length>1">
          <a role="button" ng-click="vm.removeCard()" title="Remove Last Card"><i class="fa fa-trash-o fa-1x" aria-hidden="true"></i> <strong>Remove Last Card</strong></a>
        </li>
        <li class="dropdown" ng-if="vm.accountResource._id && !vm.isViewMode">
          <a  ui-sref="accounts.view({accountId : vm.accountResource._id})" role="button"><strong>Cancel</strong></a>
        </li>
      </ul>
    </nav>
  </div>
</nav>


<section>
  <div class="page-header">
    <h1 ng-if="!vm.isViewMode">{{vm.accountResource._id ? 'Edit Account' : 'New Account'}}</h1>
    <h1 ng-if="vm.isViewMode">Account Details</h1>
  </div>
  <div class="well well-sm">
    <form name="vm.form.accountForm" class="form-horizontal" ng-submit="vm.save(vm.form.accountForm.$valid)">
      <fieldset>
        <legend><i class="fa fa-list-alt fa-2x" aria-hidden="true"></i> Account Category:</legend>
        <div class="form-group">
          <label for="category" class="col-sm-2 control-label">category*</label>
          <div class="col-sm-10">
            <select ng-click="vm.initializeACard()" ng-disabled="vm.isViewMode" class="form-control" id="category" name="category" ng-model="vm.category"
              required>
                <option>Website</option>
                <option>Bank</option>
                <option>Card</option>
                <option>Miscs</option>
            </select>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend><i class="fa fa-key fa-2x" aria-hidden="true"></i> User Key</legend>
        <div class="text-danger">
          <div class="form-group">
            <label for="userKey" class="col-sm-2 control-label">User Key*</label>

            <div class="col-sm-10">
              <div class="input-group" ng-show="!vm.isViewMode">
                <input ng-readonly="vm.isUserKeyInputBoxReadOnly" ng-focus="vm.showUserKeyHelpBox()" ng-blur="vm.hideUserKeyHelpBox()" ng-model="vm.userKey"
                  type="text" name="userKey" class="form-control text-danger" id="userKey" placeholder="Enter Your Secret Key, Any number, text which is easy to remember for you"
                  required>
                <span class="input-group-btn"> <button ng-click="vm.toggleUserKeyInputBoxReadOnlyMode()" class="btn btn-default" type="button" title="Edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                </span>
              </div>
              <input ng-show="vm.isViewMode" ng-readonly="vm.isViewMode" ng-focus="vm.showUserKeyHelpBox()" ng-blur="vm.hideUserKeyHelpBox()"
                ng-model="vm.userKey" type="text" name="userKey" class="form-control text-danger" id="userKey" placeholder="Enter Your Secret Key, Any number, text which is easy to remember for you"
                required>

              <span ng-show="vm.isShowUserKeyHelpBox" class="help-block">
                <strong><span class="glyphicon glyphicon-hand-right" aria-hidden="true"> Reminder!</strong>
                <ul>
                  <li><strong>First Time Users</strong> - We don't store your Secret key. Try to use something you can remember.</li>
                  <li><strong>Returning Users</strong> - If you lose it check your email, we have sent you when you set it.</li>
                  <li><strong>Advanced Usage</strong> - You can use different user key for different account/info when you create
                    it. But try to stick with one user key for every data/account. As it is used to encrypt your data and without
                    it, data is unrecoverable</li>
                </ul>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group" ng-if="!vm.isViewMode">
          <div class="col-sm-10 col-sm-offset-2">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="vm.isEmailThisUserKey"><strong>Email me this userkey for future reference</strong>
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <!--bank account info from-->
      <section ng-if="vm.category === 'Bank'">
        <ng-include src="'/modules/accounts/client/views/partials/bank.partial.template.html'"></ng-include>
      </section>
      <!--bank Card info from-->
      <section ng-if="vm.category === 'Bank' || vm.category === 'Card'">
        <div ng-repeat="numberOfCard in vm.account.card track by $index">
          <ng-include src="'/modules/accounts/client/views/partials/card.partial.template.html'"></ng-include>
        </div>
      </section>
      <!--Miscs account info from-->
      <section ng-if="vm.category == 'Miscs'">
        <ng-include src="'/modules/accounts/client/views/partials/miscs.partial.template.html'"></ng-include>
      </section>

      <!--web account info from-->
      <section ng-if="vm.category != 'Miscs' && vm.category != null">
        {{vm.category}}
        <ng-include src="'/modules/accounts/client/views/partials/web.partial.template.html'"></ng-include>
      </section>

      <!--form submission buttons-->
      <div class="form-group" ng-if="!vm.isViewMode">
        <div class="col-sm-offset-2 col-sm-10">
          <button ng-disabled="!vm.form.accountForm.$valid" type="submit" class="btn btn-success">{{vm.accountResource._id ? 'Update' : 'Create'}}</button>
          <a class="btn btn-danger" ng-if="!vm.accountResource._id" ui-sref="accounts.list" role="button">Cancel</a>
          <a class="btn btn-danger" ng-if="vm.accountResource._id" ui-sref="accounts.view({accountId : vm.accountResource._id})" role="button">Cancel</a>
        </div>
      </div>
      <div ng-show="vm.error" class="text-danger">
        <strong ng-bind="vm.error"></strong>
      </div>
    </form>
  </div>
  <br>
  <br>
  <br>
  <br>
</section>