<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container text-center">
    <button title="Save These Info" type="submit" class="btn btn-success navbar-btn">{{vm.account._id ? 'Update' : 'Save Account'}}</button>
    <a class="btn btn-danger navbar-btn" ui-sref="accounts.list" role="button">Cancel</a>
    <span ng-if="vm.account.category === 'Bank' || vm.account.category === 'Card'">
      <a ng-if="vm.account.category == 'Bank' || 'Card'" class="btn btn-info navbar-btn" title="Add a credit/debit card" ng-click="vm.addCard()"><i class="fa fa-pencil-square-o fa-1x" aria-hidden="true"></i> Add Card</a>
      <a ng-if="vm.account.category == 'Bank' || 'Card'" ng-show="vm.cards.length>1" class="btn btn-info navbar-btn" ng-click="vm.removeCard()" title="Remove Last Card"><i class="fa fa-trash-o fa-1x" aria-hidden="true"></i> Remove Last Card</a>
      </span>
  </div>
</nav>
<section>
  <div class="page-header">
    <h1>{{vm.account._id ? 'Edit Account' : 'New Account'}}</h1>
  </div>
  <div class="well well-sm">
    <form name="vm.form.accountForm" class="form-horizontal" ng-submit="vm.save(vm.form.accountForm.$valid)">
      <div class="text-danger">
        <div class="form-group">
          <label for="category" class="col-sm-2 control-label">Your Secret Key* <i class="fa fa-question-circle" aria-hidden="true" title="This secret key will be required to decrypt your info later"></i></label>
          <div class="col-sm-10">
            <input ng-focus="helpBox = true" ng-blur="helpBox = false" ng-model="userkey" type="text" name="userkey" class="form-control text-danger"
              id="userkey" placeholder="Enter Your Secret Key, Any number, text which is easy to remember for you" required>
            <span ng-show="helpBox" id="helpBlock" class="help-block"><strong>Alert! Server doesn't store this key. Use something easy to remember like any number "131-232-212"" or "I like black car." <br> </strong> You have to memorize or write it down for future use. You need to enter it every time you want to read these info. This Key can be unique or common for every information you store. It's upto you. It can be 4 digit number to 15 charcter text... No specific requirement.</span>
          </div>
        </div>
      </div>

      <fieldset>
        <legend>Select Account Category:</legend>
        <div class="form-group">
          <label for="category" class="col-sm-2 control-label">category*</label>
          <div class="col-sm-10">
            <select class="form-control" id="category" name="category" ng-model="vm.account.category" required>
                <option selected>Website</option>
                <option>Bank</option>
                <option>Card</option>
                <option>Miscs</option>
            </select>
          </div>
        </div>
      </fieldset>
      <!--bank account info from-->
      <ng-include src="'modules/accounts/client/views/partials/bank.partial.template.html'"></ng-include>
      <!--bank Card info from-->
      <div ng-repeat="numberOfCard in vm.cards track by $index">
        <ng-include src="'modules/accounts/client/views/partials/card.partial.template.html'"></ng-include>
      </div>
      <!--web account info from-->
      <fieldset>
        <legend>Web info:</legend>
        <div class="form-group" show-errors>
          <label for="accountName" class="col-sm-2 control-label">Account</label>
          <div class="col-sm-10">
            <input type="text" name="accountName" class="form-control" id="accountName" placeholder="Web Account Name" ng-model="vm.account.account">
          </div>
          <div ng-messages="vm.form.accountForm.accountName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Account name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="username" class="col-sm-2 control-label">Username</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="username" placeholder="Username" ng-model="vm.account.username">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="vm.account.password">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="vm.account.email">
          </div>
        </div>
        <div class="form-group">
          <label for="url" class="col-sm-2 control-label">Add URL</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="url" placeholder="Add multiple URL Links separated by comma" ng-model="vm.account.url">
          </div>
        </div>
        <div class="form-group">
          <label for="description" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="3" id="description" placeholder="Short Description" ng-model="vm.account.description"></textarea>
          </div>
        </div>
      </fieldset>

      <!--form submission buttons-->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success">{{vm.account._id ? 'Update' : 'Create'}}</button>
          <a class="btn btn-danger" ui-sref="accounts.list" role="button">Cancel</a>
        </div>
      </div>
      <div ng-show="vm.error" class="text-danger">
        <strong ng-bind="vm.error"></strong>
      </div>
    </form>
  </div>
  <br>
  <br>
</section>