<h3 class="page-header"><strong>Accounts Information</strong></h3>
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="btn-group btn-group-justified">
      <div class="btn-group" uib-dropdown>
        <button id="single-button" type="button" class="btn btn-info" uib-dropdown-toggle ng-disabled="disabled">
        Options <span class="caret"></span>
      </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li role="menuitem"><a href="#" ng-click="vm.showHideLockedAccount()">{{vm.isLockedAccountShown ? 'Show Locked Data' : 'Hide Locked Data'}}</a></li>
          <li class="divider"></li>
          <li role="menuitem"><a href="#" ng-click="searchTerm = ''">Show All</a></li>
          <li role="menuitem"><a href="#" ng-click="searchTerm = 'Website'">Show Category: Website</a></li>
          <li role="menuitem"><a href="#" ng-click="searchTerm = 'Bank'">Show Category: Bank</a></li>
          <li role="menuitem"><a href="#" ng-click="searchTerm = 'Card'">Show Category: Card</a></li>
          <li role="menuitem"><a href="#" ng-click="searchTerm = 'Miscs'">Show Category: Miscs</a></li>
        </ul>
      </div>
      <a class="btn btn-primary btn-block" href="/accounts/create" role="button">Add New</a>
    </div>
    <br>
  </div>

  <div class="col-xs-12 col-sm-8">

    <div class="input-group">
      <input type="text" class="form-control" ng-model="searchTerm" placeholder="Search for..." autofocus>
      <span class="input-group-btn"><button class="btn btn-primary" type="button">Search</button></span>
      <!--<span class="input-group-btn"><button ng-click="vm.changeViewToCard()" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button></span>-->
      <!--<span class="input-group-btn"><button ng-click="vm.changeViewToList()" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></button></span>-->
    </div>
  </div>
</div>

<!-- Single button -->




<div ng-if="vm.accounts.error">
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>🚩 {{vm.accounts.title}}!</strong> {{vm.accounts.message}}
  </div>
  <a href="/accounts/userkey" class="btn btn-success">Try Again!</a>
</div>
<hr>
<div class="row" ng-show="!vm.accounts.error">
  <h1 class="text-center" ng-show="vm.isLoading"><i class="fa fa-refresh fa-3x " aria-hidden="true"></i> Loading ... </h1>
  <div ng-include="'/modules/accounts/client/views/partials/list-accounts.partials/list-accounts.tableView.client.view.html'"></div>
</div>