<div class="jumbotron">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Input your userkey to unlock data</h3>
    </div>
    <div class="panel-body">
      <div class="well well-lg">
        <form name="vm.form.userKeyForm" class="form-horizontal" ng-submit="vm.setKey(userKeyInput)">
          <fieldset>
            <legend><i class="fa fa-key fa-2x" aria-hidden="true"></i> Enter Your Secret Key To Unlock Your Data</legend>
            <div>
              <div class="form-group">
                <label for="userKey" class="col-sm-2 control-label">Your Secret Key*</label>
                <div class="col-sm-10">
                  <input ng-model="userKeyInput" type="password" name="userKey" class="form-control text-danger" id="userKey" placeholder="We Don't Store Your Key. You shoud have it."
                    required>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success">Unlcok My Data</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>