<section>
  <div class="page-header">
    <h1>
      <div class="row">
        <div class="col-xs-8">
          {{vm.account.account}}
        </div>
        <div class="col-xs-4 text-right">
          <a class="btn btn-default btn-sm" ui-sref="accounts.list">Back to Accounts</a>
        </div>
      </div>
    </h1>
  </div>
  <div class="well well-sm">
    <div class="row">
      <div class="col-md-6">
        <h4>Username : {{vm.account.username}}</h4>
        <h4>Password : {{vm.account.password}}</h4>
      </div>
      <div class="col-md-6">
        <h4>Owner Name : {{vm.account.author.username}}</h4>
        <h4>Category : {{vm.account.category}}</h4>
      </div>
    </div>
    <h4>Email : {{vm.account.email}}</h4>
    <h4>URL : {{vm.account.url}}</h4>
  </div>
  <strong>Comments / Description</strong>
  <div class="list-group">
    <div class="list-group-item">
      <h4 class="list-group-item-heading">List group item heading</h4>
      <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut facilis in, officiis sed sunt ullam veritatis?
        Asperiores consequatur dicta dignissimos dolorem laudantium libero quos rerum sapiente sed voluptate. Porro?</p>
      <p>
        <a href="" class="btn btn-success btn-xs">Edit</a>
        <a href="" class="btn btn-danger btn-xs">Delete</a>
      </p>
    </div>
    <div class="list-group-item">
      <h4 class="list-group-item-heading">List group item heading</h4>
      <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut facilis in, officiis sed sunt ullam veritatis?
        Asperiores consequatur dicta dignissimos dolorem laudantium libero quos rerum sapiente sed voluptate. Porro?</p>
      <p>
        <a href="" class="btn btn-success btn-xs">Edit</a>
        <a href="" class="btn btn-danger btn-xs">Delete</a>
      </p>
    </div>
  </div>
</section>