<section>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container text-center">
      <a class="btn btn-info navbar-btn" ui-sref="accounts.edit({accountId : vm.account._id})"><i class="fa fa-pencil-square-o fa-1x" aria-hidden="true"></i> Edit</a>
      <a class="btn btn-info navbar-btn" ng-click="vm.deleteAccount(data._id)"><i class="fa fa-trash-o fa-1x" aria-hidden="true"></i> Delete</a>
      <a class="btn btn-info navbar-btn" ui-sref="accounts.list">Back to Accounts</a>
    </div>
  </nav>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>{{vm.account.account}}</strong></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <h4>Username : {{vm.account.username}}</h4>
          <h4>Password : {{vm.account.password}}</h4>
        </div>
        <div class="col-md-6">
          <h4>Owner Name : {{vm.account.author.username}}</h4>
          <h4>Category : {{vm.account.category}}</h4>
        </div>
      </div>
      <h4>Email : {{vm.account.email}}</h4>
      <h4>URL : {{vm.account.url}}</h4>
      <hr>
      <p>{{vm.account.description}}</p>
    </div>
  </div>
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Comments</h3>
    </div>
    <div class="list-group">
      <div class="list-group-item">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut facilis in, officiis sed sunt ullam veritatis?
          Asperiores consequatur dicta dignissimos dolorem laudantium libero quos rerum sapiente sed voluptate. Porro?</p>
        <p>
          <a href="" class="btn btn-success btn-xs">Edit</a>
          <a href="" class="btn btn-danger btn-xs">Delete</a>
        </p>
      </div>
      <div class="list-group-item">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut facilis in, officiis sed sunt ullam veritatis?
          Asperiores consequatur dicta dignissimos dolorem laudantium libero quos rerum sapiente sed voluptate. Porro?</p>
        <p>
          <a href="" class="btn btn-success btn-xs">Edit</a>
          <a href="" class="btn btn-danger btn-xs">Delete</a>
        </p>
      </div>
    </div>
  </div>
</section>