.content {
  margin-top: 70px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
.jumbotron{
  /*color: blue;*/
  text-shadow: 0 2px 5px rgba(3,3,3, 0.15);
  margin: 0;
}
.header-text{
  font-weight: 800;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  color: #ffffff;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.5);
}
.navbar-inverse .navbar-nav>li>a:hover{
  color: #ffffff;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.3);
}



.footer {
    background: #ecf0f1 none repeat scroll 0 0;
    /*background: #2f3e50 none repeat scroll 0 0;*/
    /*box-shadow: 0px -3px 50px 10px rgba(61,158,243, 0.2);*/
    margin: 0;
    padding: 15px 0;
}
.policy{
  color: white;
  background: #02b3e4;
  box-shadow: 0px -3px 20px 1px rgba(0,0,0, 0.15);
  /*background: #2f3f50;*/
}
.footer_dv {
    width: 100%;
}
.footer_dv h4 {
    /*color: white;*/
    color: black;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.footer_dv ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer_dv ul li:first-child {
    border-top: medium none;
    box-shadow: none;
}
.footer_dv ul li {
    color: #f1f2f2;
    padding: 5px 0;
}
.footer_dv p {
    padding: 5px 0;
    color: #666666;
    /*color: #fff;*/
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 15px;
    text-align: justify;
}
.footer_dv li a {
  color: #666666;
  /*color: skyblue;*/
}

.footer_dv li a:hover{
  text-decoration: none;
  color: #2592f2;
  font-weight: 800;
  border-radius: 3px;
}
/*
* {
	margin: 0;
}*/
html, body {
	height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
	margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
	height: 142px; 
}

.jumbotron.jum1{
  background: white;
}
.jumbotron.jum2{
  color: white;
  min-height: 400px;   
  box-shadow: 0 10px 15px 10px rgba(3,3,30, 0.5);

  background: #9D50BB; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #9D50BB , #6E48AA); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #9D50BB , #6E48AA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
}
.jumbotron.jum3{
  color: white;
  min-height: 400px;
  
  background: #7474BF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #7474BF , #348AC7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #7474BF , #348AC7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron.jum4{
  color: black;
  min-height: 400px;

  background: #1CD8D2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #1CD8D2 , #93EDC7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #1CD8D2 , #93EDC7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron.jum5{
  color: black;
  min-height: 400px;

  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #76b852 , #8DC26F); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #76b852 , #8DC26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.video-link{
  color: white;
  background: rgba(256,256,256,0);
  border: 3px solid rgba(256,256,256,0);
  box-shadow: none;
}
.video-link:hover{
  color: white;
  background: rgba(256,256,256,0.1);
  cursor: pointer;
  border: 3px solid rgba(256,256,256,0.7);
}